In [1]:
# Label Encoding
# Create a set of values
# Create a dict and replace those values in original dataset
# When replaced it'll be ready for classification further

In [15]:
import pandas as pd

df = pd.read_csv('label_dataset.csv')
CT = set(df['Countries'])
countries_map = {}

for idx,val in enumerate(CT):
    countries_map[val] = idx
print(countries_map)

#df['Countries']
df.replace(countries_map,inplace=True)
df # Encoded DF

{'China': 0, 'Japan': 1, 'UAE': 2, 'Canada': 3, 'Russia': 4, 'India': 5, 'USA': 6}

   Sr. No  Countries  GDP
0       1          5  4.5
1       2          6  4.0
2       3          4  6.0
3       4          1  3.0
4       5          5  5.0
5       6          2  3.0
6       7          0  6.0
7       8          1  4.5
8       9          3  4.7
9      10          6  3.4

In [2]:
# One Hot Encoding
# Create a set of values
# Create a new DF and insert those as columns along with GDP Column, drop original countries column
# Init new columns with 0 as a value, then later on replace them with 1 as per the corresponding Country Serial Number
# Check One Hot Encoding notebook
# When replaced it'll be ready for classification further

In [62]:
import pandas as pd

df = pd.read_csv('label_dataset.csv')
ct = set(df['Countries'])
newframe = []
for each in df['Countries']:
    vals = {}
    vals[each] = 1
    newframe.append(vals)
ds = pd.DataFrame(newframe,columns=ct)
ds.fillna(0,inplace=True)
pd.concat([(df.drop('Countries',axis=1)),ds],axis=1)

   Sr. No  GDP  China  Japan  UAE  Canada  Russia  India  USA
0       1  4.5    0.0    0.0  0.0     0.0     0.0    1.0  0.0
1       2  4.0    0.0    0.0  0.0     0.0     0.0    0.0  1.0
2       3  6.0    0.0    0.0  0.0     0.0     1.0    0.0  0.0
3       4  3.0    0.0    1.0  0.0     0.0     0.0    0.0  0.0
4       5  5.0    0.0    0.0  0.0     0.0     0.0    1.0  0.0
5       6  3.0    0.0    0.0  1.0     0.0     0.0    0.0  0.0
6       7  6.0    1.0    0.0  0.0     0.0     0.0    0.0  0.0
7       8  4.5    0.0    1.0  0.0     0.0     0.0    0.0  0.0
8       9  4.7    0.0    0.0  0.0     1.0     0.0    0.0  0.0
9      10  3.4    0.0    0.0  0.0     0.0     0.0    0.0  1.0