In [1]:
# Label Encoding is a preprocessing stage where textual values are converted/mapped into numerical data
# To convert the Categorical Textual values to numerical values to pass these numerical values to machine algorithms
# Preferred when Categorical Unique inputs are less than 2 : ex. Male & Female
# Let's take an example of a data where a column consists of Countries and GDP
# There might be irregularities in result as there is a risk of increase in 
# correlation between different columns with encoded Column

In [6]:
import pandas as pd

df = pd.read_csv('label_dataset.csv')
df

   Sr. No Countries  GDP
0       1     India  4.5
1       2       USA  4.0
2       3    Russia  6.0
3       4     Japan  3.0
4       5     India  5.0
5       6       UAE  3.0
6       7     China  6.0
7       8     Japan  4.5
8       9    Canada  4.7
9      10       USA  3.4

In [3]:
# Here we are considering the Countries column, in which data resides in textual format
# Unique values from Countries are picked from the dataset

In [8]:
set(df['Countries'])

{'Canada', 'China', 'India', 'Japan', 'Russia', 'UAE', 'USA'}

In [1]:
# Then each country is marked as numeric number starting from 0,1,2,3
# Canada -> 0, China -> 1, India -> 2
# Then the Country from dataset is replaced with it's corresponding number

In [ ]:
# -------------------------Using SKLEARN-------------------------------------------------

In [ ]:
from sklearn.preprocessing import LabelEncoding