In [1]:
# To overcome the Label Encoding correlation problem One Hot Encoding is used
# One Hot Encoding converts the unique values from a column to form different columns in dataset and insert ->
# 1 based on the corresponding match

In [3]:
import pandas as pd 

df = pd.read_csv('label_dataset.csv')
df

   Sr. No Countries  GDP
0       1     India  4.5
1       2       USA  4.0
2       3    Russia  6.0
3       4     Japan  3.0
4       5     India  5.0
5       6       UAE  3.0
6       7     China  6.0
7       8     Japan  4.5
8       9    Canada  4.7
9      10       USA  3.4

In [4]:
# Here from the countries column unique values are extracted

In [5]:
set(df['Countries'])

{'Canada', 'China', 'India', 'Japan', 'Russia', 'UAE', 'USA'}

In [ ]:
# For each of these values, a column is formed in dataset and countries column is removed
# from original series of Countries (without unique values) corresponding column in new dataset is marked as 1
# Example in new dataset for 1st row India will be marked as 1 and rest of the countries to 0 (initialize all with 0 first)
# Then this new data is passed on classification algorithm